@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500&display=swap');

@layer utilities {
  .hero-clip {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

#zpcookie-banner {
  display: none !important;
}

/* .char {
  transform: translate(0, 100%);
} */
